main {
  display: flex;
  flex-direction: column;
}

.content-section {
  width: 100%;
  margin: 0 auto;
}


.header{
    display: grid;
    background-color: white;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 51px 89px;
}

.header__logo {
  display: block;
  width: 140px;
}


.header__links-list {
  display: flex;
  gap: 32px;
  align-items: center;
}

.header__links-list-item {
  list-style: circle;
  
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  font-size: 18px;
  white-space: nowrap;
  text-decoration: none;
}

.header__link_active {
    text-decoration: none;
}

.header__menu{
    display: flex;
    list-style: circle;
}

.address {
  font-style: inherit;
}

.header__address {
  justify-self: end;
  font-style: normal;
  width: 100%;
  max-width: 236px;

    
}

.address__item {
  display: block;
  font-size: 18px;
  line-height: 24.3px;
}

.address__address-text {
  font-size: 18px;
  line-height: 24.3px;
  
}
.text-link{
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-position: under;
}





.cover {
  position: relative;
  padding: 165px 50px 50px 50px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  background-position: center;
  margin-bottom: 183px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 0.6);
}

.cover__title {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #FFF;
  font-weight: bold;
  font-size: 100px;
  line-height: 1.15;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
  letter-spacing: 30px;
}

.aligned-text_center {
  line-height: 1.15;
  align-self: center;
  margin-left: 30px;
}

.aligned-text_right {
  line-height: 1.15;
  text-align: right;
}


.remove-spacing {
  letter-spacing: normal;
}

.cover__description {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  gap: 106.5px;
  padding: 106px 0 0;
}

.cover__description-text {
  color: #FFF;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18.5px;
}

.bet-button {
  border: 1px #FFF solid;
  padding: 14px 32px;
  color: #FFF;
  font-weight: medium;
  font-size: 22px;
  line-height: 1;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}




.lots{
    padding: 0 24px;
    margin-bottom: 155px;
}

.lots__heading{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1;
    padding: 0 0 30px 40px;
}

.lots__card-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 25px;
    list-style: none;
    grid-auto-flow: row;
}


.lots__card-list-item{
    height: 100%;
}


.card-link{
    display: block;
    height: 100%;
    text-decoration: none;
}

.card{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: auto;
    height: 100%;
    padding: 48px 40px;
    justify-content: space-between;
}

.card__title {
    position: relative;
    z-index: 1;
    color: #FFF;
    font-weight: bold;
    font-size: 22px;
    line-height: 1.2;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-position: under;
    
}

.card__text {
  position: relative;
  z-index: 1;
  color: #FFF;
  font-size: 20px;
  line-height: 1.2;
  padding: 10px 0 0 0;
 
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.lots__look-more-link{
    display: block;
    padding: 33px 0 0 40px;
    font-size: 20px;
    line-height: 1;
    text-decoration-line: underline;
    text-underline-position: under;
    text-decoration-thickness: 1px;
    width: fit-content;
}







.about{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 24px;
    padding: 0 24px;
    margin-bottom: 180px;
}

.about__column{
    justify-self: center;
}

.about__column_text{
    grid-column: 2/4;
}

.about__logo{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: #000;
}

.about__logo-image{
    width: 148px;
}

.about__title{
    font-weight: bold;
    font-size: 40px;
    line-height: 1;
    text-transform: uppercase;
    padding: 105px 0 104px;

}

.about__text{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.about__text p{
    display: flex;
    font-size: 20px;
    line-height: 24px;
}





.footer{
    display: grid;
    background-color: white;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
    padding: 0 50px 82px;
}


.footer__address{
    font-style: normal;
    width: 100%;
    max-width: 265px;
    justify-self: start;

}

.footer__social-icon {
  width: auto;
  height: 48px;
}

.footer__menu-list {
  text-align: center;
  list-style: none;
}

.footer__links-list {
  display: flex;
  gap: 32px;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  list-style: none;
  justify-self: end;
}

.footer__menu-link{
    font-size: 18px;
}


.footer__menu-link_active{
    text-decoration: none;

}